!!! 5
html(lang='en', ng-app='shiva')
	head
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		title Shiva » Music Player
		link(href='favicon.ico', rel='shortcut icon')

		link(rel='stylesheet', type='text/css', href='./css/main.css')
		link(rel='stylesheet', type='text/css', href='./css/autocomplete.css')
	body
		!= content

	script(data-main="js/main", type="text/javascript", src="js/require-jquery.js")

//- this must be included for live reload to work in developement
//- it will be automatically ignored when deployed
!= livereload
