noscript
	:markdown
		Um, this is awkward&hellip; most of the functionality of this site relies on JavaScript, a programming language that helps add interactivity to web sites. So I can't really do anything until you enable it. If you don't know how to enable JavaScript, look [here](http://www.activatejavascript.org).

#now_playing
	img#album_art(src="http://upload.wikimedia.org/wikipedia/en/e/e9/Sufjanstevensageofadz.jpg")
	p#current_song Futile Devices by Sufjan Stevens<br>from Age of Adz
	#controls
		#shuffle
		#repeat
		#back
		#play_pause
		#forward
		#volume
	#progress 2:51 of 5:21
	canvas#visualization

ul#sidebar
	li
		input#search(type="text", placeholder="Search", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Search'")
			include svg/_search
	li ALL
	li
		p SORT
		ul
			li Album
			li Artist
			li Year
			li Song
	li
		p PLAYLISTS
		ul#playlists
			li#Chill Chill
			li#RockNRoll Rock 'N Roll
		input#new_playlist(type="text", placeholder="Create New Playlist...", onfocus="this.placeholder = ''", onblur="this.placeholder = 'Create New Playlist...'")
	li#quarterborder
	li
		p STATS
		p#total_songs

ul#header
	li
	li #
	li Song Title
	li Rating
	li Length
	li Plays
	li Skips

#songs