.container
	.page-header
		h1
			a(href='#/') Shiva
			| »
			span#artistname Music Player
			// Dinosaurs will slowly die 
	noscript
		h2
			| Please enable javascript.
	div(ng-view='ng-view')
	footer
		:markdown
			Shiva by [@tuxie_](http://twitter.com/tuxie_) © 2013. [Fork me](https://github.com/tooxie/shiva-client)
