noscript
	:markdown
		Um, this is awkward&hellip; most of the functionality of this site relies on JavaScript, a programming language that helps add interactivity to web sites. So I can't really do anything until you enable it. If you don't know how to enable JavaScript, look [here](http://www.activatejavascript.org).

#status_bar
	img#album_art(src="/img/cover.jpg")
	#now_playing
		p#current_song Futile Devices by Sufjan Stevens<br>from Age of Adz
		#controls
			#shuffle
			#repeat
			#back
			#play_pause
			#forward
			#volume
		#progress
			p 2:51 of 5:21
		canvas#visualization

ul#sidebar
	li
		input#search(type="text", value="Search")
	li All
	li
		p Sort
		ul
			li Album
			li Artist
			li Year
			li Song
	li
		p Playlists
		ul#playlists
		input#new_playlist(type="text", value="Add New Playlist...")
	li
		p Stats
		p#total_songs

ul#header
	li
	li #
	li title
	li rating
	li length
	li plays
	li skips

#songs
