noscript
	:markdown
		Um, this is awkward&hellip; most of the functionality of this site relies on JavaScript, a programming language that helps add interactivity to web sites. So I can't really do anything until you enable it. If you don't know how to enable JavaScript, look [here](http://www.activatejavascript.org).

#status_bar
	img#album_art(src="/img/cover.jpg")
	#now_playing
		canvas#visualization
		#progress
			p 2:51 of 5:21
		p#current_song Futile Devices by Sufjan Stevens<br>from Age of Adz
		#controls
			#shuffle
			#repeat
			#back
			#play_pause
			#forward
			#volume

// this should really be an input :(
#search_bar


// screw sidebars! we can use a search bar for everything... or pretty close to that

//ul#sidebar
//	li
//	li All
//	li
//		p Sort
//		ul
//			li Album
//			li Artist
//			li Year
//			li Song
//	li
//		p Playlists
//		ul#playlists
//		input#new_playlist(type="text", value="Add New Playlist...")
//	li
//		p Stats
//		p#total_songs


#songs
