!!! 5
html(lang='en', ng-app='shiva')
	head
		title Shiva » Music Player
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/index.css')
		script(src='js/angular-1.1.1/angular.js', type='text/javascript')
		script(src='js/app.js', type='text/javascript')
		script(src='js/controllers.js', type='text/javascript')
		script(type='text/javascript')
			if ("geolocation" in navigator) {
				navigator.geolocation.getCurrentPosition(function (position) {
					Shiva.geolocation = position.coords;
				});
			}
	body
		!= yield

//- this must be included for live reload to work in developement
//- it will be automatically ignored when deployed
!= livereload