global-reset()

album_art_width = 100px

body
	background url("/img/grey_wash_wall.png")
	color white
	font-family 'sans'

#now_playing
	position relative
	width 100%

#album_art
	display inline-block
	width album_art_width
	height album_art_width

#current_song, #controls, #progress
	font-size 12px
	margin 6px
	//z-index 2
	//position relative

#current_song, #controls
	display inline-block
	vertical-align top

#visualization
	opacity 0.6
	position absolute
	top 0
	left 0
	right 0
	margin-left album_art_width
	height album_art_width

#visualization
	display block

#progress
	position absolute
	bottom 0
	

/*
	z-index 1
	cursor pointer

	&:before, &:after
		z-index 1
		content ''
		display block
		position absolute
		height 100%

	&:before
		background-image gradient(red, red)
		left 0
		width 100%

	&:after
		background-image gradient(blue, blue)
		right 0
		width 65% // percent of song that remains
*/