global-reset()

album_art_width = 100px

body
	background url("/img/grey_wash_wall.png")
	color white
	font-family 'sans'

#status_bar
	min-width 100%

#album_art
	display inline-block
	size album_art_width

#now_playing
	display inline-block
	position absolute
	left album_art_width
	right 0
	height album_art_width
	box-sizing border-box
	font-size 12px

#current_song, #controls
	padding 6px
	box-sizing border-box

#current_song, #controls
	display inline-block
	vertical-align top

#visualization
	position absolute
	top 0
	opacity 0.6

#visualization
	display block

#progress
	progress_meter_width = 1px
	position absolute
	top 0
	left -(progress_meter_width) // prevent horizontal scrollbar
	white-space nowrap
	height album_art_width
	border-right progress_meter_width black solid // progress meter
	margin-right -20px

	p
		z-index 2
		padding 6px
		position absolute
		bottom 0
		right 0
		left 0
		text-align right
		vertical-align bottom
	

/*
	z-index 1
	cursor pointer

	&:before, &:after
		z-index 1
		content ''
		display block
		position absolute
		height 100%

	&:before
		background-image gradient(red, red)
		left 0
		width 100%

	&:after
		background-image gradient(blue, blue)
		right 0
		width 65% // percent of song that remains
*/
